*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1, h2, h3, h4, h5, h6 {
    color:#7d3a8d;
}

textarea {
    min-height:250px;
}

.form-control {
    border:2px solid #7d3a8d;
    border-radius:0;
    box-shadow: 5px 7px 7px rgba(125, 58, 141, 0.5);
    color:#7d3a8d;
}

label {
    color: #7d3a8d;
    font-weight: bold;
}

body {
    margin: 0;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #59595f;
    text-align: left;
    background-color: #fafafa;
}

.header {
    padding: 15px 10%;
    top:0;
    left:0;
    width:100%;
    z-index:10000;
   
}

.bg-header-home  {
    background: rgba(0, 0, 0, 0.25);
}

.bg-header {
    position:sticky;
    top:0;
    background:url('../ressources/images/landscape.svg');
    background-size: cover;
    background-position: 30% 80%;
    border-bottom:4px #7d3a8d solid;
    box-shadow: 5px 7px 7px rgba(125, 58, 141, 0.5);
}

.nav-item a {
    font-size:1rem;
    text-transform: uppercase;
 }

 a:hover {
     color:#FAFAFA;
 }

 .navbar-brand {
     font-size:1.8rem;
 }


.navbar-brand, .nav-item a {
    font-weight: bold;
    color:whitesmoke;
}

.slide-home {
    height:100vh;
    overflow: hidden;
}

.h-100-vh {
    height:100vh;
}

.slider-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 15%;
}


.slider-text  h1, .slider-text  h4, .slider-text  p {
    color:#fafafa;
    font-weight: 400;
}

.slider-text  h1 {
    font-size: 4.2em;
    font-weight: bold;
}

.slider-text  h4 {
    font-weight: bold;
}

.slider-text  p {
    font-size: 1.6em;
}

.carousel-item.slider-home {
    height:100vh;
    width:100vw;
    background: url('../ressources/images/landscape.svg') no-repeat center center fixed;
    background-size: cover;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: inline-flex;
}

.controls-top{
    height:100%;
}

.controls-top > a {
    z-index:1000;
    background:#3f3383;
    height:40px;
    width:40px;
    border-radius:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#FFFFFF;
    box-shadow: 5px 7px 7px rgba(125, 58, 141, 0.5);
}

.rounded-circle.about {
    height:300px;
    width:300px;
    background: url('../ressources/images/landscape.svg') no-repeat center center;
    background-size: cover;
    border:4px #7d3a8d solid;
}

.bg-black-transparent {
    background: rgba(125, 58, 141, 0.8);
    padding: 15px;
    box-shadow: 10px 10px 10px rgba(34, 34, 34, 0.25);
}

.section {
    padding:25px 10%;
}

footer {
    background:url('../ressources/images/concrete-wall.png') #7d3a8d;
    border-top:4px solid #943f93;
}

footer .footer {
    padding:25px 15%;
}

footer .form-control {
    border: none;
    color: #FFFFFF;
    background: #3f3383;
}

.copyright {
    color:#FFFFFF;
    background:#933f93;
    margin-top:25px;
    padding:15px;
    text-align: center;
    border-top:1px solid #db5aa8;
}

.bg-input {
    background: #3f3383;
    border:1px solid #943f93;
}

.btn-ok {
    color:#FFFFFF;
    background:#3f3383 !important;
    border-left:1px solid #3a2f79;
}

footer .form-control:focus {
    color: #FFFFFF;
    background: #3f3383;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.funkyradio div {
    clear: both;
    overflow: hidden;
  }
  
  .funkyradio label {
    width: 100%;
    font-weight: normal;
    font-weight: bold;
  }
  
  .funkyradio input[type="radio"]:empty,
  .funkyradio input[type="checkbox"]:empty {
    display: none;
  }
  
  .funkyradio input[type="radio"]:empty ~ label,
  .funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .funkyradio input[type="radio"]:empty ~ label:before,
  .funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    color:black;
    width: 2.5em;
    height: 2.5em;
    background: #FFFFFF;
    border:2px solid #7d3a8d;
  }
  
  .funkyradio input[type="radio"]:hover:not(:checked) ~ label,
  .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
  }
  
  .funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
  .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content: '\2713';
    text-indent: .8em;
    font-size:14.5px;
    color: #7d3a8d;
  }
  
  
  
  .funkyradio input[type="radio"]:checked ~ label:before,
  .funkyradio input[type="checkbox"]:checked ~ label:before {
    content: '\2713';
    text-indent: .8em;
    font-size:14.5px;
    color: #333;
    background-color: #ccc;
  }
  
  .funkyradio input[type="radio"]:focus ~ label:before,
  .funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
  }
  
  .funkyradio-default input[type="radio"]:checked ~ label:before,
  .funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #e9ecef;
    background-color: #7d3a8d;
  }
  
  .btn {
      border-radius:0;
  }

  .btn-success, .slider-text .btn-primary {
      background-image: linear-gradient(to right, #7d3a8d 0%, #bd509f 51%, #7d3a8d 100%);
      border-color:#7d3a8d;
  }

  .btn-success:hover, .slider-text .btn-primary:hover {
    background-image: linear-gradient(to right, #db5aa8 0%, #bd509f 51%, #7d3a8d 100%);
    border-color:#bd509f ;
}

.slider-text .btn-primary {
    font-size: 1.7rem;
    box-shadow: 10px 10px 10px rgba(34, 34, 34, 0.25);
}

@media screen and (max-width: 1230px) {  
    .slider-text .btn-primary {
        font-size:1.4em;
    }
}


@media screen and (max-width: 1120px) {  
    .row {
        margin-right: 0px; 
        margin-left: 0px; 
    }
    .slider-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5%;
        margin-top:40px;
    }

    .rounded-circle.about {
        border-radius: 0 !important;
    }

    .rounded-circle.about {
        min-height: 300px;
        width: 100%;
    }

    .img-about {
        padding:0px;
    }

    .slider-text .btn-primary {
        font-size:2em;
    }

    .section {
        padding:0;
    }

    .burger.fas.fa-bars {
        color:#FFFFFF;
        font-size:1.4em;
    }

}

.loading {
    background: url('../ressources/images/landscape.svg') no-repeat center center fixed;
    background-size: cover;
    height:100vh;
    width:100vw;
}

