<section class="section">
	<div id="view-img" class="carousel slide carousel-multi-item mb-5 mt-5 position-relative" data-ride="carousel">
		<div class="controls-top w-100 d-flex justify-content-between position-absolute align-items-center">
			<a class="btn-floating" href="#view-img" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
			<a class="btn-floating" href="#view-img" data-slide="next"><i class="fas fa-chevron-right"></i></a>
		</div>
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active">
				<div class="col-12 col-md-4">
					<div class="card mb-2">
						<img class="card-img-top"src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"alt="Card image cap">
						<div class="card-body">
							<h4 class="card-title">Card title</h4>
							<p class="card-text">
								Some quick example text to build on the card title and make up the bulk of thecard's content.
							</p>
							<a class="btn btn-success text-light" href="#">Download</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="card mb-2">
						<img class="card-img-top"src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"alt="Card image cap">
						<div class="card-body">
							<h4 class="card-title">Card title</h4>
							<p class="card-text">
								Some quick example text to build on the card title and make up the bulk of thecard's content.
							</p>
							<a class="btn btn-success text-light" href="#">Download</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="card mb-2">
						<img class="card-img-top"src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"alt="Card image cap">
						<div class="card-body">
							<h4 class="card-title">Card title</h4>
							<p class="card-text">
								Some quick example text to build on the card title and make up the bulk of thecard's content.
							</p>
							<a class="btn btn-success text-light" href="#">Download</a>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="col-12 col-md-4">
					<div class="card mb-2">
						<img class="card-img-top"src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
						<div class="card-body">
							<h4 class="card-title">Card title</h4>
							<p class="card-text">
								Some quick example text to build on the card title and make up the bulk of thecard's content.
							</p>
							<a class="btn btn-success text-light" href="#">Download</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="card mb-2">
						<img class="card-img-top"src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
						<div class="card-body">
							<h4 class="card-title">Card title</h4>
							<p class="card-text">
								Some quick example text to build on the card title and make up the bulk of thecard's content.
							</p>
							<a class="btn btn-success text-light" href="#">Download</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="card mb-2">
						<img class="card-img-top"src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap">
						<div class="card-body">
							<h4 class="card-title">Card title</h4>
							<p class="card-text">
								Some quick example text to build on the card title and make up the bulk of thecard's content.
							</p>
							<a class="btn btn-success text-light" href="#">Download</a>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="col-12 col-md-4">
					<div class="card mb-2">
						<img class="card-img-top"src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg" alt="Card image cap">
						<div class="card-body">
							<h4 class="card-title">Card title</h4>
							<p class="card-text">
								Some quick example text to build on the card title and make up the bulk of thecard's content.
							</p>
							<a class="btn btn-success text-light" href="#">Download</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="card mb-2">
						<img class="card-img-top"src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg" alt="Card image cap">
						<div class="card-body">
							<h4 class="card-title">Card title</h4>
							<p class="card-text">
								Some quick example text to build on the card title and make up the bulk of thecard's content.
							</p>
							<a class="btn btn-success text-light" href="#">Download</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="card mb-2">
						<img class="card-img-top"src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg" alt="Card image cap">
						<div class="card-body">
							<h4 class="card-title">Card title</h4>
							<p class="card-text">
								Some quick example text to build on the card title and make up the bulk of thecard's content.
							</p>
							<a class="btn btn-success text-light" href="#">Download</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>