<div class="modal fade" id="Login" role="dialog" aria-labelledby="Connexion" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Connexion">
                    <i class="fas fa-user"></i> Connexion au compte Magestic
                </h5>
                <a href="#" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></a>
            </div>
            <form action="/Connexion" method="POST">
                <div class="modal-body">
                <div class="form-group">
                        <label for="loginModals"><i class="fas fa-user"></i> Login</label>
                        <input type="text" class="form-control" id="loginModals" name="login" placeholder="Nom de compte*" required>
                    </div>
                    <div class="form-group">
                        <label for="passwordModals"><i class="fas fa-key"></i> Password</label>
                        <input type="password" class="form-control" name="password" id="passwordModals" placeholder="Password*" required>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-danger">Connexion</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="/Inscription">Inscription</a>
                    <a class="btn btn-info" href="/Pass">Password perdu ?</a>
                </div>
            </form>
        </div>
    </div>
</div>