<section class="section">
    <h1 class="mt-4" >Stay in touch with us</h1>
    <form [formGroup]="contactForm" class="row">
        <div class="col-12 col-sm-12 col-md-6">
            <div class="form-group mt-4">
                <label for="name">Name</label>
                <input   formControlName="name" type="text" class="form-control" name="name" id="name" required>
            </div>
            <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                <div *ngIf="f.name.errors.required">Name is required.</div>
                <div *ngIf="f.name.errors.minlength">Name should be 3 character.</div>
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input  formControlName="email" type="email" class="form-control" name="email" id="email" required>
            </div>
            <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                <div *ngIf="f.email.errors.required">Email is required.</div>
                <div *ngIf="f.email.errors.email">Please, enter valid email address.</div>
            </div>
            <div class="form-group">
                <label for="subject">Subject</label>
                <input  formControlName="subject" type="text" class="form-control" name="subject" id="subject" required>
            </div>
            <div *ngIf="f.subject.touched && f.subject.invalid" class="alert alert-danger">
                <div *ngIf="f.subject.errors.required">Subject is required.</div>
                <div *ngIf="f.subject.errors.minlength">Subject should be 10 character.</div>
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea  formControlName="content" type="text" class="form-control" name="message" id="message" required></textarea>
            </div>
            <div *ngIf="f.content.touched && f.content.invalid" class="alert alert-danger">
                <div *ngIf="f.content.errors.required">Message is required.</div>
                <div *ngIf="f.content.errors.minlength">Message should be 25 character.</div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <div class="bg-black-transparent mt-5 mb-3 text-light">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam felis felis, sodales in sagittis ac, ultricies ac felis. Donec at ligula non libero ultrices varius. Fusce pulvinar sapien a eleifend lacinia. Nam auctor leo venenatis, interdum arcu a, fringilla nibh. Sed ultricies vulputate nisl. Donec sed libero finibus, ultricies lorem eget, auctor arcu. Sed condimentum tincidunt tortor, volutpat congue sem blandit ut. Nullam nisl nisi, laoreet ac justo in, pretium finibus quam. Maecenas maximus at neque in faucibus. Aliquam erat volutpat. Quisque sed magna at lacus blandit tincidunt ac sed metus. Cras ac aliquam risus. Vivamus dignissim laoreet augue a euismod. Aenean tempor accumsan elementum. Nunc quis massa ut eros sodales sodales sed et nisl. Aenean non quam tortor.</p>
                <p>Aenean vel dolor sit amet felis efficitur venenatis. Quisque nunc tellus, vestibulum eu libero id, interdum aliquet metus. Nulla rutrum sem at velit eleifend iaculis. Aenean aliquam augue magna, ac scelerisque mauris tristique sit amet. Sed porta feugiat tellus ac sodales. Sed ut iaculis arcu. Nullam in neque justo. Sed metus purus, lacinia vel tristique posuere, bibendum at urna. Maecenas imperdiet finibus metus nec laoreet. Maecenas malesuada dictum orci quis ornare. Donec eu neque nec quam commodo ullamcorper eget eu orci.</p>
            </div>
            <div class="funkyradio">
                <div class="funkyradio-default">
                    <input type="checkbox" name="checkbox" id="checkbox" required />
                    <label for="checkbox">I allow my data to be use just for contact me and not for other purpose</label>
                </div>	
            </div>
        </div>
        <div class="col-12 mb-5">
            <hr/>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6">
                    <div *ngIf="messageSuccess" class="alert alert-success">
                        Message sent successfully!
                    </div>
                    <div class="text-right">
                        <input type="submit" class="btn btn-success btn-lg" value="Envoyer"  [disabled]="!contactForm.valid" (click)="submit()" />
                    </div>
                </div>
                <div class="d-none col-md-6">

                </div>
            </div>
        </div>
    </form>
</section>