<section class="section h-100-vh d-flex align-items-center justify-content-center">
    <div class="row w-100">
        <div class="img-about col-12 col-sm-12 col-md-12 col-lg-4 d-flex justify-content-center">
            <div class="rounded-circle about m-2"></div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 d-flex justify-content-center">
            <div class="w-100 m-2">
                <h4>One application to discover the world</h4>
                <hr />
                <p>Explore the unknow with the different indication <br/> just in yout hand.</p>
                <p>Find new possibilities and new road to a new wonder.</p>
                <p>Alone or in group, explore and share yout adventure <br/> with the community</p>
                <div class="w-100 text-right">
                    <a href="#" class="btn btn-lg btn-success">Download this app </a>
                </div>
            </div>
        </div>
    </div>
</section>