<section id="carouselExampleSlidesOnly" class="carousel slide slide-home" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item slider-home active">
            
        </div>
        <div class="position-absolute w-100 h-100 slider-text">
            <div class="mb-5 bg-black-transparent">
                <h1 class="pl-4">Explore the world!</h1>
                <p>Discover wonderfull landscape</p>
                <p class="mb-4 pl-4">and all the place hidden next to you</p>

                <h4 class="mt-5">EXPLORATION IN YOUR HAND</h4>
            </div>
            <div>
                <a href="#" class="btn btn-lg btn-primary d-block">Download this app </a>
            </div>
        </div>
    </div>
</section>