<footer>
    <div class="footer">
        <div class="row">
            <div class="col-6">
                <ul class="nav">
                    <li class="nav-item m-1"><a href="">Service </a></li>
                    <li class="nav-item m-1" ><span class="text-light">-</span></li>
                    <li class="nav-item m-1" ><a href="">Privacy</a></li>
                </ul>
            </div>
            <div class="col-6">
                <form [formGroup]="newsletterForm"  class="form-group">
                    <label class="text-light" for="email">Newsletter</label>
                    <div class="d-flex bg-input">
                        <input formControlName="email" type="text" class="form-control" name="email" id="name" required>
                        <input type="submit"  [disabled]="!newsletterForm.valid" class="btn btn-ok" (click)="submitEmail()" value="OK" />
                    </div>
                    <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-warning mt-2 mb-2">
                        <div *ngIf="f.email.errors.required">Email is required.</div>
                        <div *ngIf="f.email.errors.email">Please, enter valid email address.</div>
                    </div>
                    <div *ngIf="newsletterSuccess" class="alert alert-success mt-2 mb-2">
                        Email sent successfully!
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="copyright">
        © {{year}} CoinCoin insolite. All rights reserved.
    </div>
</footer>