<header [ngClass]="route ? 'position-fixed bg-header-home' : 'bg-header'" class="navbar navbar-expand-lg header">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">CoinCoins</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="burger fas fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" routerLink="/about"  routerLinkActive="active">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/community"  routerLinkActive="active">Community</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact"  routerLinkActive="active">Contact</a>
            </li>
        </ul>
    </div>
</header>
